.chats-sec {
  display: flex;
}

.Avatar-sec {
  margin-right: 3%;
}

.display-block {
    display: none;
  }

@media only screen and (max-width: 430px) {
  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }
}
