/* Footer Styles for Attractive Design */
.footer {
    background-color: #262c38;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #0091ea; /* Change color on hover */
  }
  
  .footer-contact p {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  /* Add a decorative line above the contact information */
  .footer-contact::before {
    content: "";
    display: block;
    height: 2px;
    width: 60%;
    background-color: #0091ea;
    margin: 10px auto;
  }
  
  /* Make the credits text italic for emphasis */
  .footer-credits p {
    font-style: italic;
    font-size: 1.2rem;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .footer-links a {
      font-size: 1rem;
    }
  
    .footer-contact p {
      font-size: 1rem;
    }
  
    .footer-credits p {
      font-size: 1rem;
    }
  }
  