/* SideDrawer.css */

.logo-container {
    display: flex;
    align-items: center;
    /* Vertically center items */
  }
  
  .favicon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add spacing between the logo and text */
    /* background-color: black; */
  }
  

  .chat-name1::placeholder{
    color: black;
  }

  .chat-name2::placeholder{
    color: white;
  }