@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  color: white;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  /* background-image: url("./background.png"); */
  background-position: center;
  background-size: cover;
}

.App1 {
  min-height: 100vh;
  display: flex;
  position: relative;
  background: linear-gradient(
    45deg,
    #4caf50,
    #2196f3
  ); /* Initial gradient colors */
  background-size: 200% 200%; /* Make the gradient cover the entire container */
  animation: gradientAnimation 5s linear infinite; /* Adjust the duration and animation type as needed */
}

/* Create the animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
